/* GENERAL */ 
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
}

a {
    text-decoration: none;
    color: black;
}

/* HEADER SECTION */
.header-container {
    height: 200px;
    background-color: #1f2937;
    color: white;

    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-content {
    display: flex;  
    flex-direction: column;
    width: 250px;
}

.right-content {
    display: flex;
}

.thumbnail {
    background-color: gray;
    width: 100px;
    height: 100px;
}

/* CONTENT SECTION */
.content.title {
    color: black;
    text-align: center;
}

.content-container {
    height: 300px;

    display: flex;
    background-color: green;
    justify-content: center;
    gap: 30px;
}

.card {
    max-width: 130px;
}

.image-box {
    width: 130px;
    height: 130px;
    border: 1px solid red;
    justify-content: center;
}

.card-content {
    text-align: center;

}


/* QUOTES SECTION */


/* FOOTER SECTION */
